{% load static %}

<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Actualizar producto</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="mi_formulario_update_product">
    <label for="input_image_product">
        <img class="image_product" src="{{ product_info.image }}" alt="default.jpg" id="image_product" data-default-file="{% static 'img/products/default/default-img.jpg' %}">
        <input class="input_image_product" id="input_image_product" type="file" accept="image/*" value="{{ product_info.image }}">
    </label>
    <button class="delete_image_product" id="delete_image_product" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
    </button>
    <hr class="dropdown-divider">
    <div class="form-group">
        <label for="name" class="updateproduct_label">Nombre:</label>
        <input type="text" class="updateproduct_input form-control" type="text" name="name" id="name" value="{{product_info.name}}">
    </div>
    <div class="form-group">
        <label for="amount" class="updateproduct_label">Cantidad:</label>
        <input type="text" class="updateproduct_input form-control" type="text" name="name" id="amount" value="{{product_info.amount}}">
    </div>
    <div class="form-group">
        <label for="entry_price" class="updateproduct_label">Precio de entrada:</label>
        <input type="text" class="updateproduct_input form-control" type="text" name="entry_price" id="entry_price" value="{{product_info.entry_price}}">
    </div>
    <div class="form-group">
        <label for="exit_price" class="updateproduct_label">Precio de salida:</label>
        <input type="text" class="updateproduct_input form-control" type="text" name="exit_price" id="exit_price" value="{{product_info.exit_price}}">
    </div>
    <p id="alert_digit">Nota: En los campos para los precios, sólo se permiten maximo 10 caracteres</p>
    <button type="button" class="btn btn-outline-success updateproduct_boton" value="Actualizar">Actualizar</button>
</form>

<script>
    var existingCode = "{{product_info.code}}";
</script>
