#contentContainer{
    background-image: url(../../img/imagen-1.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 50%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.home_main {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

.home_main h1 {
    font-size: 36px;
    color: #03A64A;
}

.home_main p {
    font-size: 18px;
    color: #817b7b;
}

.home_main ul {
    list-style: none;
    padding: 0;
}

.home_main ul li {
    font-size: 16px;
    color: #444;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    background: #0056b3;
}
