{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/users_css/home.css' %}">
    <title>Home</title>
{% endblock head %}


{% block content %}
  <main class="home_main">
    <header>
      <h1>Panel de Control</h1>
    </header>
      <section id="kpis">
        <div class="kpi">
            <h2>Total de Ventas</h2>
            <p>$123,456</p>
        </div>
        <div class="kpi">
            <h2>Clientes Nuevos</h2>
            <p>45</p>
        </div>
        <div class="kpi">
          <h2>Clientes Nuevos</h2>
          <p>45</p>
      </div>
      <div class="kpi">
        <h2>Clientes Nuevos</h2>
        <p>45</p>
    </div>
    
        <!-- Otros KPIs -->
      </section>
    </main>
{% endblock content %}